{% extends 'base.html.twig' %}

{% block title %}
  Détail du projet {{ project.id }}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          Projet : {{ project.name }}
        </h1>
        <p>
          Créé le : {{ project.startedAt|date('d/m/Y') }}
        </p>
      </div>
      {% if project.status == 'terminé' %}
        <div class="col-md-6">
          <h3 style="color:red" >Projet terminé le {{ project.endedAt | date("d/m/Y") }} </h3>
        </div>
      {% else %}
        <div class="col-md-6">
          <form action="" method="post">
            Statut du projet : </br>
            <select name="status">
              <option value="nouveau" 
                {% if project.status == 'nouveau' %} selected {% endif %}>
                Nouveau
              </option>
              <option value="en cours" 
               {% if project.status == 'en cours' %} selected {% endif %}>
               En cours
              </option>
              <option value="terminé">Terminé</option>
            </select>
            <button type="submit" class="btn btn-warning">Changer</button>
          </form>
        </div>
      </div>
      <a href="{{path('tasks_add',{id: project.id})}}"
        class="btn btn-primary">
        Ajouter une tâche
      </a>
    {% endif %}
    <a href="{{ path('projects_list') }}" class="btn btn-primary">
      Retour à la liste
    </a>
    <table class="table table-striped">
      <thead class="table table-striped">
        <tr>
          <th scope="col">
            #
          </th>
          <th scope="col">
            Nom de la tâche
          </th>
          <th scope="col">
            Description
          </th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <th scope="col">
              {{ task.id }}
            </th>
            <td>
              {{ task.title }}
            </td>
            <td>
              {{ task.description }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
