{% extends 'base.html.twig' %}

{% block title %}
  Liste des projets
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center">
      Liste des projets
    </h1>
    <a href="{{ path('projects_add') }}" class="btn btn-primary">
      Ajouter un projet
    </a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">
            #
          </th>
          <th scope="col">
            Nom du projet
          </th>
          <th scope="col">
            Statut
          </th>
          <th scope="col">
            Tâches
          </th>
          <th scope="col">
            Ajouté le
          </th>
          <th scope="col">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
          <tr>
            <th scope="row">
                {{ project.id }}
            </th>
            <td>
                {{ project.name }}
            </td>
            <td>
                {{ project.status|capitalize }}
            </td>
            <td>
                {{ project.tasks |length }}
            </td>
            <td>
                {{ project.startedAt |date("d/m/Y") }}
            </td>
            <td>
                <a href="{{ path('projects_detail', {id: project.id } ) }} ">Gérer</a> 
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
